.userimage{
    height: 43px;
    border-radius: 50%;
    margin-top: 25%;
}
.nav-wrapper{
    background-color: #ffff;
}
.brand-logo{
    padding-left: 10%;
    color: black;
}
.cart{
    
}
.links{
    color: black
}